header{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 80px;
    .header-icon-menu{
        a{
            text-decoration: none;
            color: #000000;
            font-size: 20px;
        }
    }
    .fullMenu{
        position: fixed;
        top: 70px;
        left: -100%;
        margin-top: 2rem;
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        nav{
            display: flex;
            flex-flow: column;
            justify-content: center;
            padding: 20px;
            width: 330px;
            background: #0c1329;
            border-radius: 10px;
            ul{
                li{
                    text-align: center;
                    color: #ffffff;
                    font-size: 20px;
                    font-weight: 700;
                    padding: 20px;
                    list-style: none;
                }
                ::after{                     
                    content: '';
                    position: absolute;
                    display: block;
                    width: 295px;
                    height: 1px;
                    background:#ffffff;
                    bottom: 166px;
                    left: 41px;
                }
            }
            .header-button{
                display: flex;
                flex-flow: column;
                margin-bottom: 2rem;
                button{
                    color: #ffffff;
                    font-size: 20px;
                    font-weight: 700;
                    padding: 20px;
                    text-decoration: none;
                    background: transparent;
                    border: none;
                }
                :focus{
                    outline: none;
                }
                .sing-up{
                    background: #2BD0D0;
                    border: 1px solid #2BD0D0;
                    border-radius: 50px;
                    padding: 10px;
                }
            }
        }
    }
    .btn-full-menu {
        font-size: 20px;
        color: grey;
    }
}