@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

header {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}

header .header-icon-menu a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}

header .fullMenu {
  position: fixed;
  top: 70px;
  left: -100%;
  margin-top: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .fullMenu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  width: 330px;
  background: #0c1329;
  border-radius: 10px;
}

header .fullMenu nav ul li {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  padding: 20px;
  list-style: none;
}

header .fullMenu nav ul ::after {
  content: '';
  position: absolute;
  display: block;
  width: 295px;
  height: 1px;
  background: #ffffff;
  bottom: 166px;
  left: 41px;
}

header .fullMenu nav .header-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-bottom: 2rem;
}

header .fullMenu nav .header-button button {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  padding: 20px;
  text-decoration: none;
  background: transparent;
  border: none;
}

header .fullMenu nav .header-button :focus {
  outline: none;
}

header .fullMenu nav .header-button .sing-up {
  background: #2BD0D0;
  border: 1px solid #2BD0D0;
  border-radius: 50px;
  padding: 10px;
}

header .btn-full-menu {
  font-size: 20px;
  color: grey;
}

main .principal-section {
  text-align: center;
}

main .principal-section .img-container img {
  width: 367px;
  height: 363px;
}

main .principal-section .principal-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

main .principal-section .principal-description h2 {
  font-size: 37px;
  max-width: 90%;
}

main .principal-section .principal-description p {
  margin-top: 20px;
  font-size: 18px;
  line-height: 25px;
  color: #a2a2aa;
  width: 263px;
}

main .principal-section .principal-description button {
  margin-top: 20px;
  background: #2BD0D0;
  border: 1px solid #2BD0D0;
  border-radius: 50px;
  padding: 15px;
  width: 185px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

main .shorten-section {
  margin-top: 2rem;
  padding: 20px;
}

main .shorten-section .container {
  background-image: url(../images/bg-shorten-mobile.svg);
  background-color: #3e3161;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 20px;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-position: top;
  background-position-x: right;
  background-repeat: no-repeat;
  border-radius: 10px;
}

main .shorten-section .container input {
  height: 46px;
  border-radius: 5px;
  border: none;
  padding-left: 15px;
}

main .shorten-section .container ::-webkit-input-placeholder {
  color: #a2a2aa;
  font-size: 16px;
  font-weight: 700;
}

main .shorten-section .container :-ms-input-placeholder {
  color: #a2a2aa;
  font-size: 16px;
  font-weight: 700;
}

main .shorten-section .container ::-ms-input-placeholder {
  color: #a2a2aa;
  font-size: 16px;
  font-weight: 700;
}

main .shorten-section .container ::placeholder {
  color: #a2a2aa;
  font-size: 16px;
  font-weight: 700;
}

main .shorten-section .container :focus {
  outline-style: revert;
  outline-color: darkred;
  padding-left: 15px;
}

main .shorten-section .container p {
  visibility: hidden;
  color: darkred;
  text-align: left;
  margin-top: -11px;
}

main .shorten-section .container button {
  background: #2BD0D0;
  border: 1px solid #2BD0D0;
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

main .statistics-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #ddddddb4;
}

main .statistics-section h2 {
  font-size: 37px;
  height: 38px;
}

main .statistics-section p {
  margin-top: 10px;
  font-size: 18px;
  line-height: 25px;
  color: #a2a2aa;
  width: 309px;
}

main .cards-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #ddddddb4;
  height: 1100px;
}

main .cards-section .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .cards-section .cards-container .card-content {
  height: 250px;
  width: 325px;
  border-radius: 5px;
  margin-top: 90px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .cards-section .cards-container .card-content .card-icon-container {
  background: #361c3b;
  height: 80px;
  width: 80px;
  margin-top: -40px;
  border-radius: 50px;
}

main .cards-section .cards-container .card-content .card-icon-container img {
  width: 80px;
  padding: 20px;
}

main .cards-section .cards-container .card-content h2 {
  margin-top: 15px;
  font-weight: 900;
}

main .cards-section .cards-container .card-content p {
  margin-top: 20px;
  width: 257px;
  color: #a2a2aa;
  font-weight: bold;
}

main .cards-section .cards-container .bar-connection {
  background: #2BD0D0;
  width: 10px;
  height: 50px;
  margin-bottom: -50px;
}

main .boost-section {
  background-image: url(../images/bg-boost-mobile.svg);
  background-color: #3e3161;
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 20px;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-position: top;
  background-position-x: right;
  background-repeat: no-repeat;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .boost-section p {
  color: #ffffff;
  font-weight: 700;
  font-size: 25px;
}

main .boost-section button {
  background: #2BD0D0;
  border: 1px solid #2BD0D0;
  border-radius: 50px;
  padding: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  width: 200px;
  margin-top: -50px;
  cursor: pointer;
}

footer {
  background: #0c1329;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 640px;
}

footer .footer-title h2 {
  font-size: 28px;
}

footer .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .features h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

footer .features a {
  text-decoration: none;
  color: #ffffff;
  margin: 5px;
  cursor: pointer;
}

footer .resources {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .resources h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

footer .resources a {
  text-decoration: none;
  color: #ffffff;
  margin: 5px;
  cursor: pointer;
}

footer .company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .company h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

footer .company a {
  text-decoration: none;
  color: #ffffff;
  margin: 5px;
  cursor: pointer;
}

footer .social {
  margin-top: 20px;
  font-size: 5px;
}

footer .social img {
  margin: 10px;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */